<!-- Sección- Proyectos -->

<section id="proyecto" class="proyecto">

  <!--  Proyectos -->
  <button *ngIf="isLoggenIdProyecto" (click)="setEditar()">
    <i id="pencil"class="fas fa-edit"></i>
   </button><br>

    <button *ngIf="isLoggenIdProyecto" (click)="editarProyectos()">
      <i id="pencil"class="fas fa-save"></i>
     </button><br>

    <button *ngIf="isLoggenIdProyecto">
       <i  id= "pencil"class="fa fa-trash"></i>
     </button><br>


     <div class="proyecto container">

      <div class="section-title">
          <h2> Mis Proyectos</h2>

      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Web</li>
            <li data-filter=".filter-web">Data Science</li>
          </ul>
        </div>
      </div>

      <div class="row proyecto-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="proyecto-wrap">
            <img src="{{proyecto?.fotoUrl}}" class="img-fluid" alt="">
            <input *ngIf="getEditar()" type="text" id ="descripcion" [(ngModel)]="proyecto.proyectoDesc"><br>
            <div class="proyecto-info">
              <h4>{{proyecto?.proyectoDesc}}</h4>
              <input *ngIf="getEditar()" type="text" id ="foto" [(ngModel)]="proyecto.fotoUrl"><br>

              <p>Web</p>

            </div>
          </div>
        </div>


      </div>




  </div>

</section><!-- Fin proyectos -->
