 <!--  Sección estudios y cursos -->
 <section id="estudios" class="estudio">

    <button *ngIf="isLoggenIdEstudios" (click)="setEditar()">
      <i id="pencil"class="fas fa-edit"></i>

    </button><br>

     <button *ngIf="isLoggenIdEstudios" (click)="editarEstudios()">
      <i id="pencil"class="fas fa-save"></i>
     </button><br>

      <button *ngIf="isLoggenIdEstudios">
         <i  id= "pencil"class="fa fa-trash"></i>
       </button>


      <div class="container">

          <div class="section-title">
              <h2>Estudios</h2>

          </div>

          <div class="row">
              <div  class="col-lg-6" >

                   <h3 class="estudio-title">Educación</h3>
                      <div *ngFor="let estudio of estudios?.slice(0,2)" class="dropdown-estudio" class="estudio-item">

                          <h4 >{{estudio?.titulo}}</h4>
                          <input *ngIf="getEditar()" type="text" #titulo [(ngModel)]="estudio.titulo"><br>
                          <h5>{{estudio?.fechaDesde}} - {{estudio?.fechaHasta}}</h5>
                          <input *ngIf="getEditar()" type="text" #fechaHasta [(ngModel)]="estudio.fechaHasta">
                          <input *ngIf="getEditar()" type="text" #fechaDesde [(ngModel)]="estudio.fechaDesde"><br>
                          <p><em>{{estudio?.institucion}}</em></p>
                          <p>Facultad Regional Córdoba</p>
                          <input *ngIf="getEditar()" type="text" #institucion [(ngModel)]="estudio.institucion">
                          <img src="{{estudio?.imagen}}" alt="Logo">
                          <input *ngIf="getEditar()" type="text" #imagen [(ngModel)]="estudio.imagen">

                      </div>
              </div>

              <div class="col-lg-6">
                  <h3 class="estudio-title">Cursos</h3>
                       <h2 class="estudio-title">Desarrollo Web</h2>
                      <div *ngFor="let estudio of estudios?.slice(2,8)"class="estudio-item">
                          <h4>{{estudio?.titulo}}</h4>
                          <input *ngIf="getEditar()" type="text" #titulo [(ngModel)]="estudio.titulo"><br>
                          <h5>{{estudio?.fechaDesde}} - {{estudio?.fechaHasta}}</h5>
                          <input *ngIf="getEditar()" type="text" #fechaDesde [(ngModel)]="estudio.fechaDesde"><br>
                          <input *ngIf="getEditar()" type="text" #fechaHasta [(ngModel)]="estudio.fechaHasta">
                          <p><em>{{estudio?.institucion}} </em></p>
                          <input *ngIf="getEditar()" type="text" #institucion [(ngModel)]="estudio.institucion">
                          <img src="{{estudio?.imagen}}" alt="Logo">
                          <input *ngIf="getEditar()" type="text" #imagen [(ngModel)]="estudio.imagen">
                      </div>


                      <h2 class="estudio-title">Ciencias de Datos</h2>
                      <div *ngFor="let estudio of estudios?.slice(8,12)"class="estudio-item">

                          <h4>{{estudio?.titulo}}</h4>
                          <input *ngIf="getEditar()" type="text" #titulo [(ngModel)]="estudio.titulo"><br>
                          <h5>{{estudio?.fechaDesde}} - {{estudio?.fechaHasta}}</h5>
                          <input *ngIf="getEditar()" type="text" #fechaDesde [(ngModel)]="estudio.fechaDesde"><br>
                          <input *ngIf="getEditar()" type="text" #fechaHasta [(ngModel)]="estudio.fechaHasta">
                          <p><em>{{estudio?.institucion}}</em></p>
                          <input *ngIf="getEditar()" type="text" #institucion [(ngModel)]="estudio.institucion">
                          <img src="{{estudio?.imagen}}" alt="Logo">
                          <input *ngIf="getEditar()" type="text" #imagen [(ngModel)]="estudio.imagen">
                      </div>
                      <h2 class="estudio-title">Actualmente</h2>
                      <div *ngFor="let estudio of estudios?.slice(12,20)" class="estudio-item">

                          <h4>{{estudio?.titulo}}</h4>
                          <input *ngIf="getEditar()" type="text" #titulo [(ngModel)]="estudio.titulo"><br>
                          <h5>{{estudio?.fechaDesde}} - {{estudio?.fechaHasta}}</h5>
                          <input *ngIf="getEditar()" type="text" #fechaDesde [(ngModel)]="estudio.fechaDesde"><br>
                          <input *ngIf="getEditar()" type="text" #fechaHasta [(ngModel)]="estudio.fechaHasta">
                          <p><em>{{estudio?.institucion}} </em></p>
                          <input *ngIf="getEditar()" type="text" #institucion [(ngModel)]="estudio.institucion">
                          <img src="{{estudio?.imagen}}" alt="Logo">
                          <input *ngIf="getEditar()" type="text" #imagen [(ngModel)]="estudio.imagen">
                      </div>
              </div>
          </div>
      </div>

</section><!-- Fin estudios y cursos -->


