<!-- Sección- Experiencia -->

<section id="experiencia" class="experiencia">

  <!--  Experiencias -->

  <button *ngIf="isLoggenIdExperiencia" (click)="setEditar()">
    <i id="pencil"class="fas fa-edit"></i>
   </button>

    <input *ngIf="getEditar()" type="text" #nombre [(ngModel)]="experiencia"><br>
    <input *ngIf="getEditar()" type="text" #apellido [(ngModel)]="experiencia"><br>
    <input *ngIf="getEditar()" type="text" #sobre mi [(ngModel)]="experiencia">
    <button *ngIf="isLoggenIdExperiencia">
       <i  id= "pencil"class="fa fa-trash"></i>
     </button>
  <div class="experiencia container">

          <div class="section-title">
              <h2> Mi Experiencia</h2>

          </div>

      <div class="row">
              <div class="col-lg-9">
                  <h3>{{experiencia.nombreempresa}}</h3>
                  <p class="fst-italic">
                      {{experiencia.descripcion}}
                  </p>
                  <div class="row"></div>
                      <div class="col-lg-2">
                         <p> {{experiencia.fecinicio}}*{{experiencia.fecfinal}}</p>
                      </div>
                      <div class="col-lg-8">
                          <p> 17 años desempeñando tareas Administrativas y de soporte a gerencia,
                              tales como: atención al cliente, confección de legajos, conciliaciones bancarias,
                               análisis y evaluación de solucitudes, informes de deudores, gestión de cobranzas,
                               mantenimiento del sistema.




                          </p>
                      </div>
              </div>
              <div class="col-lg-3 pt-4 pt-lg-0 content"  >
                  <img src="../../../assets/img/LogoMutual_redondo.png" class="img-fluid" alt="">

              </div>
      </div>

  </div>

</section><!-- Fin experiencias -->

