<!-- Sección- Experiencia -->

<section id="experiencia" class="experiencia">

  <!--  Experiencias -->

  <button *ngIf="isLoggenIdExperiencia" (click)="setEditar()">
    <i id="pencil"class="fas fa-edit"></i>

   </button><br>

    <button *ngIf="isLoggenIdExperiencia" (click)="editarExperiencia()">
      <i id="pencil"class="fas fa-save"></i>
     </button><br>

    <button *ngIf="isLoggenIdExperiencia">
       <i  id= "pencil"class="fa fa-trash"></i>
     </button>
  <div class="experiencia container">

          <div class="section-title">
              <h2> Mi Experiencia</h2>

          </div>


        <div class="col-lg-12">
        <h3>Actualmente:</h3><h5>{{experiencia?.trabajoActual}}</h5>
        <input *ngIf="getEditar()" type="text" id ="trabajoActual "[(ngModel)]="experiencia.trabajoActual">
        </div>

      <br><br><br>
          <div class="row">
              <div class="col-lg-9">
                  <h3>{{experiencia?.nombreEmpresa}}</h3>
                  <input *ngIf="getEditar()" type="text" id = "nombreEmpresa" [(ngModel)]="experiencia.nombreEmpresa"><br>
                  <p class="fst-italic">
                      {{experiencia?.descripcion}}
                      <input *ngIf="getEditar()" type="text" id ="descripcion" [(ngModel)]="experiencia.descripcion"><br>
                  </p>
                  <div class="row"></div>
                      <div class="col-lg-2">
                         <p> {{experiencia?.fecInicio}}_*_{{experiencia?.fecFinal}}</p>
                         <input *ngIf="getEditar()" type="text" id ="fecInicio" [(ngModel)]="experiencia.fecInicio">
                         <input *ngIf="getEditar()" type="text" id ="fecFinal "[(ngModel)]="experiencia.fecFinal">
                      </div>
                      <div class="col-lg-8">
                          <p> 17 años desempeñando tareas Administrativas y de soporte a gerencia,
                              tales como: atención al cliente, confección de legajos, conciliaciones bancarias,
                               análisis y evaluación de solucitudes, informes de deudores, gestión de cobranzas,
                               mantenimiento del sistema.




                          </p>
                      </div>
              </div>
              <div class="col-lg-3 pt-4 pt-lg-0 content"  >
                  <img src="../../../assets/img/LogoMutual_redondo.png" class="img-fluid" alt="">

              </div>
      </div>

  </div>

</section><!-- Fin experiencias -->

