body{
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  max-height: 850px;
  overflow-y: auto;
}
img{
  content: "";
  position:fixed;
  background: #040404  top right no-repeat ;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 850px;
  z-index: -1;
}

h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.navbar-collapse{
  background-color: transparent;
  }
#pencil{
  color: deeppink;

}


input{
  width: 500px;
  height: auto;
  background-color: transparent;
  color: #fff;
}
