
      <!--Barra de navegacion-->

      <div class="tituloppal">

          <img src="{{misdatos?.img_background}}">
           <h1>{{misdatos?.nombre}} {{misdatos?.apellido}}</h1>
            <h2>{{misdatos?.sobremi}}</h2>
                    <h3>-Desarrolladora Fullstack Jr-<span> Argentina Programa</span></h3>


            <div class="social-links">
              <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.bi-github.com/" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>

            </div>

            <button *ngIf="isLoggenIdHeader" (click)="setEditar()">
              <i id="pencil"class="fas fa-edit"></i>

            </button><br>

            <input *ngIf="getEditar()"  type="text" id ="nombre" [(ngModel)]="misdatos.nombre"><br>
            <input *ngIf="getEditar()"  type="text" id="apellido" [(ngModel)]="misdatos.apellido"><br>
            <input *ngIf="getEditar()"  type="text" id="sobremi" [(ngModel)]="misdatos.sobremi">
            <input *ngIf="getEditar()"  type="text" id="imagenfondo" [(ngModel)]="misdatos.img_background">

              <button *ngIf="isLoggenIdHeader" (click)="Eliminar()" >
                 <i  id= "pencil"class="fa fa-trash"></i>
               </button>

               <button *ngIf="isLoggenIdHeader" (click)="actualizar()" >
                <i  id= "pencil"class="fa fa-save"></i>

              </button>




      </div>





