
      <!--Barra de navegacion-->

      <div class="tituloppal" >

          <img src="{{misdatos?.img_background}}">
           <h1 >{{misdatos?.nombre}} {{misdatos?.apellido}}</h1>
            <h2>{{misdatos?.sobremi}}</h2>
                    <h3>-Desarrolladora Fullstack Jr-<span> Argentina Programa</span></h3>


            <div class="social-links">
              <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://github.com/Normarale" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/norma-susana-delprato-82618340/" target="_blank"><i class="fab fa-linkedin"></i></a>

            </div>






      </div>





